
.text-input:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.text-input {
  border: 1px solid #56B4EF;
  height: 29px;
  transition: background 0.2s linear 0s;
  box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
  border-radius: 3px;
  font-size: 13px;
  font-family: "Gotham Narrow SSm",sans-serif;
  line-height: 20px;
  padding: 4px;
}

.submit_btn {
  border-radius: 4px;
  box-shadow: 0 1px 0 #FFFFFF;
  line-height: 11px;
  background-color: #55ACEE;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  border: 1px solid #3B88C3;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
}

.submit_btn:disabled {
  border-radius: 4px;
  box-shadow: 0 1px 0 #FFFFFF;
  line-height: 11px;
  background-color: #EEEEEE;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  border: 1px solid #3B88C3;
  color: #CCCCCC;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
}

.submit_btn:hover:enabled {
  background-color: #3B88C3;
}

.add_resource_btn {
	vertical-align: bottom;
  border-radius: 4px;
  border: 1px solid #55ACEE;
  padding: 4px 4px;
}

.packet_paragraph {
  margin: 0 0 0 0;
}

.front-bg {
  background: none repeat scroll 0 0 #000000;
  height: 200%;
  left: -50%;
  top: -2%;
  position: fixed;
  width: 200%;
  z-index: -1;
}

.front-bg img {
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  right: 0;
  top: 0;
}

.front-welcome-text { 
  bottom: 0;
  color: #CCD6DD;
  font-size: 20px;
  font-weight: 300;
  left: 10%;
  top: 130px;
  width: 33%;
  height: 370px;
  line-height: 22px;
  padding: 20px;
  position: absolute;
  text-align: left;
  text-shadow: 0 1px 2px #000000;
  font-family: "Gotham Narrow SSm",sans-serif;
  /*background-color: #55EEAC;*/
  background-color: #33AA77;
}

.front-conditions-text { 
  color: #CCD6DD;
  /*#66757F*/
  font-size: 13px;
  text-shadow: 0 0px 0px #000000;
  font-family: "Gotham Narrow SSm",sans-serif;
}

.front-conditions-text-left-pannel { 
  color: #CCCCCC;
  font-size: 11px;
  line-height: 12px;
  text-shadow: 0 0px 0px #000000;
}

.front-language {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  color: #66757F;
  left: 80%;
  top: 20px;
  width: 150px;
  height: 30px;
  line-height: 22px;
  padding: 20px;
  position: absolute;
  text-align: left;
  font-family: "Gotham Narrow SSm",sans-serif;
  border-radius: 4px;
  border: 1px solid #C1C8CD;
}

.dropdown-list {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  bottom: 0;
  color: #66757F;
  line-height: 22px;
  padding: 20px;
  position: absolute;
  text-align: left;
  font-family: "Gotham Narrow SSm",sans-serif;
  border-radius: 4px;
  border: 1px solid #C1C8CD;
  visibility: hidden;
  z-index: 100;
  cursor: pointer;
}

.dropdown-language {
    /*background-color: black;
    color: white;*/
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-list_active {
    /*background-color: black;
    color: white;*/
    display: block;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.2s linear 0s;
}

.dropdown-list_active:hover {
    background-color: #3B88C3;
    color: white;
    display: block;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-caret {
    left: 60;
    float: left;
    height: 10px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    width: 18px;
}

.caret-outer {
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    height: auto;
    left: 0;
    top: 0;
    width: auto;
    display: inline-block;
    margin-left: -1px;
    position: absolute;
}

.caret-inner {
    border-bottom: 9px solid rgba(255, 255, 255, 0.98);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    left: 1px;
    top: 1px;
    display: inline-block;
    margin-left: -1px;
    position: absolute;
}

.white-area {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  /*color: #CCD6DD;*/
  color: #66757F;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
  position: absolute;
  text-align: left;
  /*text-shadow: 0 1px 2px #000000;*/
  font-family: "Gotham Narrow SSm",sans-serif;
  border-radius: 4px;
  border: 1px solid #C1C8CD;
  z-index: 2;
  display: table;  /*Auto sizes height if content is too long*/
}

.white-area-title {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #E1E8ED;
  /*box-shadow: 0 1px 0 #FFFFFF;*/
  color: #66757F;
  display: block;
  font-size: 18px;
  font-weight: 300;
  /*position: relative;*/
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.white-area-list {
  list-style: none outside none;
  margin-left: 0;
  padding: 0;
}

.white-area-li {
  display: table;
  width: 100%;
  border-bottom: 1px solid #e1e8ed;
  min-height: 68px;
  cursor: pointer;
}

.white-area-li:hover {
    background-color: #f5f8fa;
}

.white-area-li-text {
  padding: 9px 12px 9px 60px;
  list-style: none outside none;
}

.white-area-screen-descrip-text {
	/*color: #66757F;*/
  font-size: 12px;
}	

.compact_descrip_in_FB {
	color: #000000;
  font-size: 12px;
}	

.white-area-li-text-link {
    text-decoration: none;
    color: #0084B4;
}

.white-area-li-text-link:active, .white-area-li-text-link:focus, .white-area-li-text-link:hover{
    text-decoration: underline;
}


.white-area-li-img {
  float: left;
  margin-left: -58px;
  margin-top: 3px;
  -moz-force-broken-image-icon: 1;
  border-radius: 5px;
  height: 48px;
  width: 48px;
  border: 0 none;
}

.white-area-li-img-small {
  float: left;
  margin-left: -18px;
  margin-top: 40px;
  -moz-force-broken-image-icon: 1;
  border-radius: 5px;
  height: 20px;  
  border: 0 none;
}

.white-area-li-shadow {
  font-size: 11px;
  color: #CCCCCC;
  position: relative;
  left: 30; 
}

.white-area-li-shadow:hover {
  font-size: 11px;
  color: #66757F;
}

.white-area-li-shadow-link {
    text-decoration: none;
    color: inherit;
}

.white-area-li-shadow-link:active, .white-area-li-shadow-link:focus, .white-area-li-shadow-link:hover{
    color: #0084B4;
    text-decoration: underline;
}


/*Inspirat amb http://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-a-div */
.long-note-outer {
    position: fixed;
    text-align: center;
    top: 30px;
    width: 100%;
    z-index: 98;
}

.short-note-outer {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 98;
}

.note-inner {
    overflow: hidden; 
    line-height: 110%;
    font-family: "Gotham Narrow SSm",sans-serif;
    background: #fde073;
    display: table;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0;
    z-index: 101;
    transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.caret {
  margin-top: 0;  
  vertical-align: middle;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #66757F;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  margin-top: 5px;
  width: 0;
}

.main-page-bar {
  background: none repeat scroll 0 0 #FFFFFF;
  top: 0px;
  left: 0px;
  color: #CCD6DD;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  height: 40px;
  padding: 0px;
  position: fixed;
  text-align: left;
  font-family: "Gotham Narrow SSm",sans-serif;
  border-bottom: 1px solid #e1e8ed;
  z-index: 97;
}

.tooltip {
    text-decoration: none;
    text-align: center;
    width: 100px;
    white-space: nowrap;
    position: absolute;
    font-size: 14px;
    line-height: normal;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    /* Safari */
    -webkit-transition; opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 99;
}

.tooltip-caret {
  margin-top: 0;  
  margin-bottom: 0;  
  vertical-align: middle;
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-bottom: 6px solid #000000;
  display: inline-block;
  height: 0;
  /*margin-left: 3px;
  //margin-top: 5px;*/
  width: 0;
}

.tooltip-text {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    background-color: #000000;
    color: white;
    border-radius: 3px;
}

.control-group {
    display: table;
    clear: both;
    margin-bottom: 15px;
    width: 95%
}

.control-fielset-group {
		border: 1px solid #56B4EF;
		width: 80%;
}

.control-fielset-group-level-2 {
		border: 1px solid #56B4EF;
		width: 95%;
}
.control-label {
    border-bottom: 0 none;
    float: left;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-top: 5px;
    text-align: right;
    width: 120px;
    color: #292F33;
    cursor: pointer;
    display: block;
}

.controls {
    margin-left: 140px;
}

.controls p {
    color: #8899A6;
    margin: 0;
}

.form-actions {
    margin: 20px 0 8px;
    padding-left: 140px;
}

.text_button {
    color: #0084B4;
    cursor: pointer;
}

.text_button:active, .text_button:focus, .text_button:hover {
    color: #0084B4;
    text-decoration: underline;
}

/*Based on the work found in http://code.stephenmorley.org/html-and-css/star-rating-widget/ but replacing svg's by png's*/
.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.png');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.png');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
